 /*COLORES*/
$black: rgb(10, 10, 10);   $white: rgb(255, 255, 255);
$red: rgb(255, 0, 0);        $orange: rgb(255, 165, 0);
$yellow: yellow;  $pink: #ffc0cb;
$purple: rgb(128, 0, 128); $blue: blue;
$gray: #999797c4

