<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../styles/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complices Sexshop</title>
</head>

<body>
    <header>
        <div class="contenedorlogoindex">
            <nav><a href="../index.html"><img src="../img/logo.png" alt=""></a></nav>
           </div>
    </header>
    <main>
        <nav>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="./sexologia.html">SEXOLOGIA</a></li>
                <li><a href="./lubricantes.html">LUBRICANTES</a></li>
                <li><a href="./juguetes.html">JUGUETES</a></li>
                <li><a href="#">CONTACTO</a></li>
            </ul>
        </nav>
    </main>

   








    <footer>
        <div class="redes">
            <p> <strong>Sigue Nuestro Instagram para más novedades</strong></p>
        </div>
        <a href="https://www.instagram.com/complices.sexshop.la/" target="_blank"><img class="instagram"
                src="../img/imginstagram.png" alt="logodeinstagram"></a>
        <p class="instagramcomplices"><a href="https://www.instagram.com/complices.sexshop.la/"
                target="_blank">@complices.sexshop.la</a></p>
    </footer>
</body>

</html>