<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../styles/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complices Sexshop</title>
</head>

<body>
    <header>
          <!--lOGO INICIO COMPLICES-->
        <div class="contenedorlogoindex">
            <a href="../index.html"><img class="logoindex-img" src="../img/logo.png" alt="logodecomplices"></a>
        </div>
    </header>
    <!--BOTONES DE NAVEGACION INDEX-->
    <main>
        <nav>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="./sexologia.html">SEXOLOGIA</a></li>
                <li><a href="./lubricantes.html">LUBRICANTES</a></li>
                <li><a href="#">JUGUETES</a></li>
                <li><a href="./contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </main>

    <!--GRID JUGUETES-->
    <section class="grid-padrejuguetes">
        <div class="box juguete1">
            <img class="juguete1-img"  src="../img/botonproductos.jpeg" alt="imgdeproductos">
        </div>
        <div class="box juguete2">
            <img class="juguete2-img" src="../img/lengua.jpg" alt="lenguavibradora">
        </div>
        <div class="box juguete3">
            <img class="juguete3-img" src="../img/pollitoalvelador.jpg" alt="pollito al velador">
        </div>
        <div class="box juguete4">
            <img class="juguete4-img" src="../img/consoladorreal.jpg" alt="consolador real">
        </div>
        <div class="box juguete5">
            <img class="juguete5-img" src="../img/teto.jpg" alt="juego de teto">
        </div>
        <div class="box juguete6">
            <img class="juguete6-img" src="../img/conejo.jpg" alt="conejito rotador">
        </div>
        <div class="box juguete7">
            <img class="juguete7-img" src="../img/dobleestimulador.jpg" alt="dobleestimulador">
        </div>
        <div class="box juguete8">
            <img class="juguete8-img" src="../img/delfin.jpg" alt="delfin">
        </div>
        <div class="box juguete9">
            <img class="juguete9-img" src="../img/luv.jpg" alt="luv theory">
        </div>
    </section>

    <footer>
        <div class="redes">
            <p> <strong>Sigue Nuestro Instagram para más novedades</strong></p>
        </div>
        <a href="https://www.instagram.com/complices.sexshop.la/" target="_blank"><img class="instagram"
                src="../img/imginstagram.png" alt="logodeinstagram"></a>
        <p class="instagramcomplices"><a href="https://www.instagram.com/complices.sexshop.la/"
                target="_blank">@complices.sexshop.la</a></p>
    </footer>
</body>

</html>
<img class="portada" src="./img/portada.jpg" alt="imagendeportada">