<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../styles/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="logoindex">
            <nav><a href="../index.html"><img src="../img/logo.png" alt=""></a></nav>
           </div>
    </header>
    <main>
        <nav>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="./sexologia.html">SEXOLOGIA</a></li>
                <li><a href="./lubricantes.html">LUBRICANTES</a></li>
                <li><a href="#">JUGUETES</a></li>
                <li><a href="./contacto.html">CONTACTO</a></li>
            </ul>
        </nav>

    </main>
    <footer>
        <div class="redes">
            <p> <strong>Sigue Nuestro Instagram para más novedades</strong></p>
        </div>
        <img class="instagram" src="../img/imginstagram.png" alt="">
        <div class="instagramcomplices">
            <p><strong>@complices.sexshop.la</strong></p>
        </div>
    </footer>
</body>

</html>
<img class="portada" src="./img/portada.jpg" alt="imagendeportada">