<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../styles/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complices Sexshop</title>
</head>

<body>
    <header>
        <!--lOGO INICIO COMPLICES-->
        <div class="contenedorlogoindex">
            <a href="../index.html"><img src="../img/logo.png" alt="logodecomplices"></a>
        </div>
    </header>

    <!--BOTONES DE NAVEGACION INDEX-->
    <main>
        <nav>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="./sexologia.html">SEXOLOGIA</a></li>
                <li><a href="#">LUBRICANTES</a></li>
                <li><a href="./juguetes.html">JUGUETES</a></li>
                <li><a href="./contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </main>

    <!--IMAGENES GRID-->
    <section class="grid-padrelubricantes">

        <div class="box lubri1">
            <img class="lubri1-img" src="../img/lubricante.png" alt="imgpalabralubricante">
        </div>

        <div class="box lubri2">
            <img class="lubri2-img" src="../img/armandocarpa.png" alt="imgarmandocarpa">
        </div>

        <div class="box lubri3">
            <img class="lubri3-img" src="../img/deboracabezas.png" alt="imgdeboracabeza">
        </div>


        <div class="box lubri4">
            <img class="lubri4-img" src="../img/grado3.png" alt="imggrado3">
        </div>

        <div class="box lubri5">
            <img class="lubri5-img" src="../img/hacerelquico.png" alt="">
        </div>

        <div class="box lubri6">
            <img class="lubri6-img" src="../img/manolubricante.jpg" alt="">
        </div>
    </section>
    <!--FOOTER-->
    <footer>
        <div class="redes">
            <p> <strong>Sigue Nuestro Instagram para más novedades</strong></p>
        </div>
        <a href="https://www.instagram.com/complices.sexshop.la/" target="_blank"><img class="instagram"
                src="../img/imginstagram.png" alt="logodeinstagram"></a>
        <p class="instagramcomplices"><a href="https://www.instagram.com/complices.sexshop.la/"
                target="_blank">@complices.sexshop.la</a></p>
    </footer>
</body>

</html>