<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complices Sexshop</title>
</head>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<link rel="stylesheet" href="../styles/styles.css">

<body>
    <header>
        <!--lOGO COMPLICES-->
        <div class="contenedorlogoindex">
            <nav><a href="../index.html"><img class="logoindex-img" src="../img/logo.png" alt="logodecomplices"></a></nav>
        </div>
        <!--BOTONES DE NAVECACION-->
        <nav>
            <ul>
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="#">SEXOLOGIA</a></li>
                <li><a href="./lubricantes.html">LUBRICANTES</a></li>
                <li><a href="./juguetes.html">JUGUETES</a></li>
                <li><a href="./contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <div class="diezcosas">
            <h1>Diez cosas que debe saber para entrar a una "SexShop" sin pena</h1>
        </div>
        <!--PRIMER PARRAFO-->

        <div>
            <h4 class="primerparrafo">
                <p>“Una 'sex shop' no es un lugar maldito, ni morboso ni pervertido, <br> es un lugar donde se puede ir
                    a
                    comprar artículos eróticos con la <br>mayor normalidad y libertad. Es como entrar a una tienda de
                    zapatos”.
                </p>
            </h4>
        </div>
    
        <p>La clave es comprender que la sexualidad es algo que forma parte de la vida de todas las personas.</p>
        
        <!--LOS VENDEDORES-->

        <div data-aos="fade-right">
        <div class="sexologiaizquierda">
            <img class="imgsexologiaizquierda" src="../img/imgvendedores.png" alt="imgdevendedores">
            <div>
                <h3>1. Los Vendedores</h3>
                <p class="parrafosexologiaizquierda">Lo primero que usted debe saber es que los vendedores de estas
                    tiendas tienen como misión vender. Su función no es juzgar,
                    ni criticar ni, mucho menos, censurar. Lo que menos les importa es
                    qué hacen las personas con su vida sexual, su único interés es
                    lograr que los clientes compren, y ojalá varias cosas.</p>
            </div>
        </div>
        </div>
        

        <!--LOS PRODUCTOS-->

        <div data-aos="fade-left">
        <div class="sexologiaderecha">
            <div class="parrafosexologiaderecha">
                <h3>2. Los Productos</h3>
                <p>Si usted considera que no sabe nada sobre juguetes sexuales ni sobre
                    lo que puede encontrar en la tienda y le da pena preguntar, puede
                    relajarse por completo.<strong> Los vendedores conocen muy bien los
                        productos que ofrecen y pueden ayudarle a resolver sus dudas</strong> y
                    explicar con total naturalidad lo que usted necesite.
                    “no hay que ponerse nervioso porque si hay algo distinto y nuevo, lo
                    que se debe hacer es preguntar, y quien se comunica aprende”.
                </p>
            </div>
                <img class="imgsexologiaderecha" src="../img/imgproductos.jpg" alt="imgdeproductos">
        </div>
        </div>

        <!--TE PREOCUPA QUE PALABRA USAR-->

        <div data-aos="fade-right">
        <div class="sexologiaizquierda1">
            <div class="parrafosexologiaizquierda">
                <h3>3. ¿Te Preocupa qué palabras usar?</h3>
                <p>Relájese, todos los vendedores llaman a cada cosa por su nombre, sin miedo,
                    sin tapujos, sin burla y sin morbo, así que usted puede tranquilamente hablar
                    sin misterios. Es más, por lo general, cuando los clientes descubren que quienes
                    atienden hablan correctamente y con naturalidad, se sienten más tranquilos
                    y relajados.</p>
            </div>
        </div>
        </div>

        <!--IMPLEMENTOS-->

        <div data-aos="fade-right">
        <div class="sexologiaizquierda">
            <img class="imgsexologiaizquierda" src="../img/imgimplementos.png" alt="imgimplementos">
            <div>
                <h3>4.Implementos</h3>
                <p class="parrafosexologiaizquierda">Pocas personas saben que en la 'sex shop' venden implementos de uso terapéutico
                    que recomiendan sexólogos o ginecólogos.</p>
            </div>
        </div>
            
        <!--COMPRAR EN PAREJA-->

        <div data-aos="fade-left">
        <div class="sexologiaderecha">
            <div class="parrafosexologiaderecha">
                <h3>5. Comprar en Pareja</h3>
                <p>Son muchas las personas que compran en compañía de su pareja.
                    Esta puede ser una buena alternativa y pueden encontrar objetos
                    que les gusten a ambos.</p>
            </div>
            <img class="imgsexologiaderecha" src="../img/imgcomprasenpareja.png" alt="imgpareja">
        </div>
        </div>

        <!--VISITAR VARIAS TIENDAS-->

        <div data-aos="fade-right">
        <div class="sexologiaizquierda">
            <img class="imgsexologiaizquierda" src="../img/imgvariastiendas.png" alt="imgvariastiendas">
            <div class="parrafosexologiaizquierda">
        <h3>6. Visitar varias tiendas</h3>
        <p>Otra estrategia que puede ayudar a relajarse frente al asunto es visitar varias
            tiendas antes de comprar, así comienza a sentirlo como algo más natural. </p>
            </div>
        </div>
        </div>

        <!--TIENDAS-->

        <div data-aos="fade-left">
        <div class="sexologiaderecha">
            <div class="parrafosexologiaderecha">
        <h3>7. Tiendas</h3>
        <p>Si le da pena que lo vean salir de una 'sex shop', la verdad es que no tiene
            por qué preocuparse, pues estas tiendas son como cualquier otra, abiertas
            a todo el público. Hoy en día, muchas están en centros comerciales y a la vista
            de todos. Ya no se trata de lugares escondidos. Usted no tiene que ir a
            zonas secretas para comprar.</p>
            </div>
            <img class="imgsexologiaderecha" src="../img/imgtiendas.png" alt="imgtiendas">
        </div>
        </div>

        <!--QUE ESTAS BUSCANDO-->

        <div data-aos="fade-right">
        <div class="sexologiaizquierda">
        <img class="imgsexologiaizquierda" src="../img/imgqueestasbuscando.png" alt="imgqueestasbuscando">
        <div class="parrafosexologiaizquierda">
        <h3>8. ¿Qué esta buscando?</h3>
        <p>Puede resultar muy útil saber cuáles son sus necesidades, qué es lo que quiere
            y para qué. Esto, cuentan los vendedores, resulta muy práctico, pues ellos pueden
            ofrecer productos con mayor certeza.</p>
        </div>
        </div>
        </div>

        <!--MENTE ABIERTA-->

        <div data-aos="fade-left">
        <div class="sexologiaderecha">
            <div class="parrafosexologiaderecha">
        <h3>9. Mente abierta</h3>
        <p>Vaya con mente abierta, sin prejuicios y sin pensar que lo que venden es solo
            para los demás, para cierto tipo de personas o cierto tipo de pareja. Piense mejor
            que encontrará muchas cosas para usted y que no todo será tan extraño, también
            venden objetos como lencería, disfraces, juegos y aceites.</p>
            </div>
            <img class="imgsexologiaderecha" src="../img/imgmenteabierta.jpg" alt="imgmenteabierta">
        </div>
        </div>

        <!--LA PRIMERA VEZ-->

        <div class="sexologiaizquierda1">
            <div class="parrafosexologiaizquierda">     
        <div data-aos="fade-right">
        <h3>10. La primera vez</h3>
        <p>Lo bueno de lograr entrar una primera vez a una 'sex shop' es, que quien entra una vez
            entra diez, “a menos que no le guste, no le interese, no encuentre lo que quiera o le
            resulte muy costoso”.</p>
            </div>
        </div>
        </div>

    </main>
    <footer>
        <!--FOOTER REDES SOCIALES-->
        
        <div class="redes">
            <p> <strong>Sigue Nuestro Instagram para más novedades</strong></p>
        </div>
        <a href="https://www.instagram.com/complices.sexshop.la/" target="_blank"><img class="instagram"
                src="../img/imginstagram.png" alt="logodeinstagram"></a>
        <p class="instagramcomplices"><a href="https://www.instagram.com/complices.sexshop.la/"
                target="_blank">@complices.sexshop.la</a></p>
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
</body>

</html>