body {

    background-image: url(../img/fondoindex.jpg);
    background-position: unset;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.logoindex {
    margin-left: 350px;
    height: 150px;
    width: 500px;
}

nav {
    margin-top: 20px;
    font-size: 25px;
    font-style: italic;
    text-align: left;
}
.carousel-item img {
    margin-top: 25px;
    width: 100%;
    height: 500px;
    border-radius: 40px;
}

.portada {
    margin-top: 25px;
    width: 100%;
    height: 500px;
    border-radius: 40px;
}

ul {
    list-style: none;
    padding-left: 0%;
}

li a {
    text-decoration: none;
    padding-left: 30px;
    color: black;
}

ul li {
    display: inline-block
}

.botondenavegacion {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.botonimagen {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
.diezcosas {
    text-align: center;
    padding-top: 68px;
}
.primerparrafo{
    text-align: center;
}

.sexologiaizquierda {
    display: flex;
}
.imgsexologiaizquierda{
    width: 250px;
    height: 120px;
    margin-left: 30px;
    border-radius: 20%;
    border: 2px dashed rgb(235, 160, 160)
}
.parrafosexologiaizquierda{
    margin-right: 450px;
    text-align: justify;
}
.sexologiaderecha {
    display: flex;
}
.parrafosexologiaderecha{
    margin-left: 30px;
    justify-items:right;
}

.imgsexologiaderecha {
    width: 250px;
    height: 130px;
    margin-right: 450px;
    margin-top: 25px;
    border-radius: 20%;
    border: 2px dashed rgb(235, 160, 160);
}
.sexologiaizquierda1{
    margin-left: 30px;
}













.redes {
    text-align: center;
}

.instagram {
    display: flex;
    margin-left: 48%;
    height: 60px;
    width: auto;
}

.instagramcomplices {
    text-align: center;
}